
/* roboto-regular - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v30-cyrillic_latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
/* roboto-italic - cyrillic_latin */
@font-face {
font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
font-family: 'Roboto';
font-style: italic;
font-weight: 400;
src: url('../fonts/roboto-v30-cyrillic_latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-500 - cyrillic_latin */
@font-face {
font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
src: url('../fonts/roboto-v30-cyrillic_latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-900 - cyrillic_latin */
@font-face {
font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
font-family: 'Roboto';
font-style: normal;
font-weight: 900;
src: url('../fonts/roboto-v30-cyrillic_latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}

body{
    font-family: 'roboto';
    font-style: normal;
    font-size: 24px;
    line-height: 1.2;
    font-weight: normal;
    color: #FFFFFF;
    width: 1219px;
    margin: 0 auto;
    padding-left: 55px; 
    padding-right: 55px; 
}



/*Header styles starts*/

.header {
    background-color: #007765;
    position: fixed;
    width: 1219px;
    padding-left: 55px;
    padding-right: 55px;
    margin: 0 auto;
}


.header__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 19.5px;
    padding-bottom: 19.5px;
}

.header__list {
    display: flex;
    flex-wrap: wrap;
}

.header__item {
    margin-right: 8px;
}

.header__item:last-child{
    margin-right: 0;
}

.header__link {
    color: #FFFFFF;
    font-size: 24px;
    line-height: 28.13px;
    text-decoration: none;
}

.header__link:hover, .header__link:focus, .header__link:active {
    opacity: .75;
}

/*Header styles end*/



/*Intro styles starts*/

.intro {
    height: 487px;
    background: url(../img/1.png) no-repeat center;
    background-size: cover;
    text-align: center;
    padding-top: 84px;
    width: 1219px;
    padding-left: 55px;
    padding-right: 55px;
}

.intro__text{
    font-size: 72px;
    line-height: 84.38px;
    color: #FFFFFF;
    padding-top: 159.3125px;
    padding-bottom: 159.3125px;
}

/*Intro styles end*/



/*The problem styles starts*/

.the-problem {
    background-color: #EEEEEE;
    max-height: 719px;
    padding-bottom: 92px;
    width: 1219px;
    padding-left: 55px;
    padding-right: 55px;
}

.theame-name {
    padding-top: 48px;
    margin-bottom: 16px;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    color: #007765;
    font-weight: 500;
}

.main-text {
    max-width: 1110px;
    margin: 0 auto;
    font-size: 32px;
    line-height: 37.5px;
    color: black;
}

.main-text-bald {
    font-weight:600;
}

/*The problem styles end*/



/*The hero styles starts*/

.hero {
    height: 483px;
    background: url(../img/2.png) no-repeat center;
    background-size: cover;
    width: 1219px;
    padding-left: 55px;
    padding-right: 55px;
}

.hero-text {
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 500;
    font-size: 48px;
    line-height: 56.25px;
    text-align: center;
    padding-top: 127px;
    padding-bottom: 127px;
    max-width: 893px;
    margin: 0 auto;
}

/*The hero styles end*/



/*introduce starts*/

.ppc-bg{
    background-color: white;
    padding-bottom: 92px;
    width: 1219px;
    padding-left: 55px;
    padding-right: 55px;
    margin: 0 auto;
}

.ppc__wrapper {
    max-width: 1110px;
    margin: 0 auto;
}

.ppc-logo {
    width: 115px;
    height: 115px;
    float: left;
    margin-right: 48px;
    margin-bottom: 35px;
}


.main-text-cursive {
    font-style: italic;
}

/*introduce ends*/



/*the team starts*/

.the-team {
    background-color: #EEEEEE;
    width: 1219px;
    padding-left: 55px;
    padding-right: 55px;
    padding-bottom: 91px;
}

.theame-name-team {
    padding-top: 58px;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    color: #007765;
    font-weight: 500;

}

.teammates{
    max-width: 1110px;
    margin: 0 auto;
}

.teammate {
    display: inline-block;
    width: 350px;
    height: 283px;
    text-align: center;
    margin-top: 32px;
}

.teammate__photo {
    height: 168px;
    width: 168px;
}

.teammate__name {
    color: #007765;
    font-size: 24px;
    text-align: 28.13px;
    font-weight: bold;
}

.teammate__position {
    font-size: 18px;
    line-height: 21.09px;
    font-style: italic;
    color: #000000;

}

/*the team ends*/



/*footer starts*/

.footer {
    background-color: #333333;
    padding: 56px 55px;
    width: 1219px;

}

.footer-text {
    color: #FFFFFF;
    font-size: 18px;
    line-height: 21.09px;
    text-align: center;
    max-width: 540px;
    margin: 0 auto;

}

/*footer ends*/
